.App {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
}

.guess {
    margin: 10px 0;
}

.tile {
    align-items: center;
    display: inline-flex;
    height: 50px;
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    margin-right: 8px;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
}

.game-state {
    white-space: pre-wrap;
}

.divider {
    margin: 10px 0;
    border: none;
    background: #eee;
    height: 1px;
    width: 98%;
}
