.App {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.guess {
    margin-bottom: 8px;
}

.tile {
    align-items: center;
    display: inline-flex;
    height: 50px;
    font-size: 2rem;
    justify-content: center;
    margin-right: 8px;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
}

.game-state {
    white-space: pre-wrap;
}